:root {
    --color-border: #1572A1;
    --color-header: #B2C8DF;
    --color-main: #DAEAF1;
    --color-footer: #B7CADB;
    --color-section: #9CB4CC;
    --color-paragraph: #11324D;
    --font-title: 'DynaPuff', cursive;
    --font-body:'Libre Franklin', sans-serif;
    --font-paragraph:'Quicksand', sans-serif;
}