body {
    height: 100vh;
    width: 100vw;

}

.cabeçalho {
    align-items: center;
    background-color: var(--color-header);
    display: flex;
    justify-content: center;

}

.imagem-logo {
    margin: 0.5rem 0;
    width: 10%;
}

.titulo-site {
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1rem;
}

.sessao-calcular {
    height: 100vh;
}

.principal-calculo {
    background-color: var(--color-main);
}

.calculadora {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.titulo-main {
    font-family: var(--font-body);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

#btn-principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.15rem;
    margin-bottom: 1rem;
}

#btn-principal .tela-calculadora {
    grid-column: span 3;
}

#btn-principal .btn-confirmar {
    grid-column: span 2;
}

#btn-principal .tela-resultado {
    grid-column: span 3;
}

.tela-calculadora {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
}

.btn-calculadora,
.btn-confirmar {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 1rem;
}

.btn-calculadora {
    background-color: var(--color-btn--calculadora);

}

.btn-calculadora:hover {
    background-color: var(--color-hover--calculadora);
    cursor: pointer;
}

.btn-confirmar {
    background-color: var(--color-btn--confirmar);
    font-family: var(--font-body);
    font-weight: 700;
}

.btn-confirmar:hover {
    background-color: var(--color-hover--confirmar);
    cursor: pointer;

}


.tela-resultado {
    background: linear-gradient(0.50deg, #B2C8DF, #DAEAF1, #B7CADB, #6E85B7 );
    text-align: center;
    padding: 1.7rem 0;
    text-transform: uppercase;
    font-family: var(--font-title);
    font-weight: 600;
    overflow-wrap: break-word;
}

.btn-saiba--mais {
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(33deg, #C9BBCF, #748DA6, #9A86A4);
    font-family: var(--font-body);
    font-weight: 700;
}

.btn-saiba--mais:hover {
    cursor: help;
    background: linear-gradient(50deg, #9A86A4, #748DA6,#C9BBCF);
}

.saiba-mais {
    font-family: var(--font-paragraph);
    font-size: 0.9rem;
    font-family: var(--font-body);
    font-weight: 700;
    text-align: center;
}

.sessao-saiba--mais{
    display: none;
    background: linear-gradient(33deg, #C9BBCF, #748DA6, #9A86A4);
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
}

.sessao-ativada {
    display: block;
}

.sobre-agua {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo-sessao {
    margin-bottom: 0.5rem;
    padding: 0.2rem 2rem;
}

.lista-beneficios {
    background-color: var(--color-section);
    border: 1px solid var(--color-border);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    max-width: 300px;
    width: 100%;
}

.titulo-section {
    border-bottom: 1px solid var(--color-border);
    font-family: var(--font-paragraph);
    font-weight: 700;
    margin: 0.5rem 0;
    padding: 1rem 0;
    text-align: center
}

.imagem-sobre {
    display: block;
    margin: 1rem auto;
    width: 10rem;
}

.lista-section {
    color: var(--color-paragraph);
    font-family: var(--font-paragraph);
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    text-align: center;
}

.rodape {
    background-color: var(--color-footer);
}

.imagem-rodape {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 0;
    width: 10%;
}


@media screen and (max-width: 767px) {
    .titulo-site {
        font-size: 1rem;
    }
    
    .titulo-main {
       
        text-align: center;
    }
    
    .sobre-agua {
        align-items: center;
        flex-direction: column;
    }

    .imagem-rodape {
        width: 25%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {

    .calculadora {
        width: 30%;
    }

    .tela-calculadora {
        font-size: 1.1rem;
        padding: 0.7rem 1.5rem;
    }

    .btn-calculadora, 
    .btn-confirmar {
        font-size: 1.3rem;
    }
}


@media screen and (min-width: 1281px) {
    .calculadora {
        width: 25%;
    }
}